@font-face{
    font-family:"JFFlatRegular";
    src:url("../fonts/JFFlatRegular.ttf");
}

img{
    width:100%;
}
a{
 text-decoration: none;   
}
a:hover{
    color:black
}
:root{
    --font-color:#000000;
    --sub-font-color:rgba(42, 45, 51, .8);
    --font-famiy:"JFFlatRegular";
    --background-color:#F2F5F8;
    --gradient-color1:#45108A;
    --gradient-color2:#3D065F;
    --gradient-color3:#12054E;
    --btn-gradiant:#AD00BD;
    --btn-gradiant2:#2AF6FF;
    --btn-color:#47C0F1;
    --link-color:#FFC000;
    --btn-color-gradiant:#9F19AB;
    --btn-color-gradiant2:#FF63CE;
}
p{
    font-size:1.3333333333333333em;;
}
ul{
    padding:0;
    margin:0;
}
ul li{
    list-style-type: none;
    margin-bottom:19px;
}
body{
     font-size: 16px;
    background-color: #fff;
    position: relative;
    direction: rtl;
    text-align: right;
    font-family:"JFFlatRegular";
    color:black;
overflow-x: hidden;
height: 100%;;
}
header{
    position: fixed;
    width:100%;
    top:0;
    padding-top:20px;
    z-index: 99999999999;
}
.hero{
    background: linear-gradient(45deg, var(--gradient-color1) 0%, var(--gradient-color2) 30%, var(--gradient-color2) 100%);
    background-size: cover;
    padding-top:200px;
    position: relative;
    overflow: hidden;
    padding-bottom:170px;
}

.heroImg{
    position: absolute;
    right:0;
    top:0;
    width:50%;
}
.navbar-brand.logo{
 float:none;
 width:65px;
 margin-left:90px
}

.navbar-expand-lg .navbar-nav .nav-item{
    padding:10px 15px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size:1em;
    font-family:"DUBAI-REGULAR";
    padding:0;
    color:rgba(255,255,255,.75);
    position: relative;

}
header .subscribeBox {
float:left;
width:450px;
}

 .subscribeBox .form-control{
    background-color: rgba(255,255,255,.02);
    border-radius: 5px;
    height:55px;
    border:0;
    width:100%;
    border-radius: 28px;;
    color:white;

    }
.navbar-expand-lg .navbar-nav  .nav-item.active .nav-link{
    color:white;
    font-weight: bold;
}
.navbar {
    padding:0;
}
.navbar-expand-lg .navbar-nav{
    width:50%;
}


.heroSection{
    padding-top:80px;
    position: relative;
    padding-bottom:150px
}
.heroText{
    margin-top:30px;;
}
.heroText h5{
    font-size:2.9em;
    color:white;
    margin-bottom:18px
}
.heroText span{
font-size: 1.2222222222222223em;
color:#8770B8;
margin-top:22px;
}
.reqBtn.btn{
    background-image: linear-gradient( to left ,var(--btn-gradiant),var(--btn-gradiant2));
    width:200px;
    height:55px;
    color:white;
    margin-top:45px;
    border-radius: 28px;
    transition: all .5s;
    border:1px solid transparent;
    line-height: 40px;
}
.reqBtn:hover{
    background-image: none;
    color:var(--btn-color);
transition: all .5s;
border:1px solid var(--btn-color);

}
.subscribeBox .subscribeForm{
    position: relative;
}
 .subscribeBox .form-control::placeholder{
    color:white;
    font-size:.9em
}
 .subscribeBox .subscribeBtn{
    background-color:var(--btn-color);
    height:42px;
    width:120px;
    left: 7px;
    top: 5px;
    border:1px solid var(--btn-color);
    transition: all .5s;
    font-size:.9999em;
    position: absolute;
    border-radius: 28px;
}
 .subscribeBox .subscribeBtn:hover{
    background-color: transparent;
    color:var(--btn-color);
    transition: all .5s;;
}
.services .borderd-bottom{
    border-bottom: 1px solid rgba(42, 45, 51, .2);
}
.borderLeft{
    border-left: 1px solid rgba(42, 45, 51, .2); 
}

.servicesBox{
padding-right:40px;
padding-bottom:35px;
padding-top:50px;

}
.serviceIcon{
    width: 50px;
    margin-left:50px;
    float:right;
}
.serviceDratils{
    width:80%;
    float: right;
}

.servicesBox h4{
    font-size:1.2222222222em;
    margin-bottom: 13px;
    color:#3C3D4B;
}
.servicesBox p{
    font-size:.1.1111111111111112em;
  color:var( --sub-font-color);
}
.services{
    padding-top:150px;
    padding-bottom:150px;
}
.sectionTitle{
    margin-bottom: 60px;
}
.work{
    padding-bottom:150px;
}
.WorkImage{
    border-radius: 10px;
    overflow: hidden;
}
.workSlider {
    position: relative;
}
.workSlider .owl-dots{
    position: absolute;
    top: -107px;
    width: 100%;
    left: 12px;    width:100%;
    text-align: left;
    ;

}
.workSlider .owl-dots .owl-dot{
    background-color:rgba(42, 45, 51, .1);
    width:30px;
    height: 30px;
    border-radius: 10px;
    border:0;
    margin-right:10px;

}
.workSlider .owl-dots .owl-dot.active{
    background-image: linear-gradient( 45deg , var(--btn-color-gradiant),var(--btn-color-gradiant2));

}
.workItem h4{
    font-size: 1.5555555555555556em;
    margin-top:20px;
    color:#8770B8;
}
.sectionTitle h2{
    position: relative;
    font-size:2.6666666666666665em;
    text-align: right;
    border-bottom: 1px solid rgba(42, 45, 51, .5);
    padding-bottom:15px;
}
.sectionTitle p{
    font-size:1.2em;
    margin-top:25px;
}

.formBG{
    background: linear-gradient(4deg,var(--form-gradiant)  0%, var(--form-gradiant2) 100%);
width:50%;
height:100%;
position: absolute;
left:0;
top:0;

}
.footer .subscribeBox .subscribeForm{
width:100%;
}
.footer h3{
    font-size:2.6666666666666665em;
    margin-bottom:50px;
}

.socialIcons li{
    display: inline-block;
    width:32px;
    height:32px;
    border-radius: 50%;
    background-color:white;
    margin-right:15px;
    text-align: center;
    transition: all .5s;

}
.socialIcons li a{
    color:var( --gradient-color3);
line-height: 10px;
font-size:17px;
}
.socialIcons li i{
    line-height: 33px;;
}
.socialIcons li:hover{
    transition: all .5s;
}
.facebook:hover a{
    color:#3b5998 ;
}
.twitter:hover a {
    color:#00acee;
}
.insta:hover a{ 
    COLOR: #FD1D1D;
}
.footer .subscribeBox{
    margin-top:50px;
}
.footer .subscribeBox h6{
    font-size:1.1111111111111112em;
    margin-bottom: 18px;
}


.contactForm{
    background-color:white;
    width:100%;
    border-radius: 10px;
    padding:50px 45px;
}
.contactForm .sectionTitle h2{
    font-size:1.7777777777777777em;
    color:#220554;
}
.contactForm .sectionTitle{
    margin-bottom:30px;
}


.contactForm .form-group{
    margin-bottom:20px;
}
.contactForm .form-control{
    background-color:#FFFFFF;
    border-radius: 3px;
    height:45px;
    font-size: .7777777777em;
    color:var(--sub-font-color)
}
.contactForm .form-control::placeholder{
    font-size: .7777777777em;
    color:var(--sub-font-color)
}
.contactForm textarea.form-control{
    height:200px;
    resize: none;
    text-align: right;
}
.sendBtn{
    width:100%;
    height:45px;
    font-size:.1.2222222222222223em;
    transition: all .5s;;
    background-color:var(--btn-color);
    height:42px;
    width:100%;
    border-radius: 33px;;
    color:white;;
    border:1px solid var(--btn-color);
}
.sendBtn:hover{
    background-color:white;;
    border-color:var(--btn-color);
    transition: all .5s;;
}


.footer{
    background-image: linear-gradient(45deg, var(--gradient-color1) 0%,var(--gradient-color2) 30%, var(--gradient-color3) 100%);
    padding-top:150px;
    position: relative;
    color:white;
}
.footerBG{
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
}
.subscribeBtn:hover{
    background-color: transparent;
    color:var(--main-color);
    transition:  all .5s;
}
.copyRights{
    margin-top:100px;
    padding-bottom:30px
}
.footer .copyRights h3{
    text-align: center;
    font-size:.8888em;
    color:white;
    margin-bottom:0
}

.scrollNav {
    top: 0 !important;
    z-index: 999999999999;
    animation-duration: .5s;
    position: fixed !important;
    background: linear-gradient(45deg, var(--gradient-color1) 0%, var(--gradient-color2) 30%, var(--gradient-color2) 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    right:0;
    padding:10px 0;
    transition: all .5s;;
    animation:sticky;
}
.btn{
    line-height: 30px;
}
.heroSection .socialIcons{
    position: absolute;
    bottom:  0;
    left:0;;
}
.heroSection .container{
    position: relative;
}
.call{
    text-align: left;
}
@media(min-width:300px) and (max-width:767px){
    .services{
        padding:50px 0;
    }
    body{
        font-size:12px
    }
    .navbar-collapse.collapse{
        width: 100%;
        background-color: var(--gradient-color2)
    }
    .owl-carousel .owl-stage-outer{
    overflow: hidden;
}
    .heroImg img{
        width:100%;
        height: auto;
    }
    .hero{
        padding:20px 0;
        padding-top:150px;
    }
    header .subscribeBox{
        width:100%;
    }
    .subscribeBox .subscribeForm{
        width:100%;
    }
    .reqBtn.btn{
        width:100%;
    }
    .heroImg{
        position: relative;
        width:100%;
        margin-bottom:50px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link:before{
        display:none;
    }
    .subscribeBtn{
        width: 113px;
    }
    .formBG{
        width:100%;
    }
    .contactForm{
      padding:10px;
    }

.sendBtn ,.sendMessage.btn{
    width:100%;
}

.startIcon:before{
    display: none;
}
   footer{
       padding:20px 0;
   }
    .socialIcons{
        text-align: right;
        margin-top:20px;
        margin-bottom:20px;
    }

    .socialIcons li{
        float: none;
    }
    .requestBtn{
        width:100%;
    }
    .heroText{
        margin-top: 0px;
    }
    button.navbar-toggler {
        position: relative;
        border: none;
        height: 40px;
        width:50px;
        cursor: pointer;
        border-radius: 0;
        opacity: .7;
        border:1px solid white;
        text-align: center;
    }
    .subscribeForm{
width:100%;
margin-bottom:50px;
    }
  
    .serviceIcon{
     width:40px;
     margin-left:10px;
    }


    .mobileMenu i{
        background-color: white;
        border-radius: 2px;
        content: '';
        display: block;
        width: 95%;
        height: 3px;
        margin-bottom:5px
    }
    .mobileMenu i:last-child{
    margin-bottom: 0;;
    }

    .navbar{
        width:100%;
        margin-bottom:20px;
    }
    .nav-link{
        margin-bottom:10px;
        margin-top:10px;
    }
    .navbar{
        width:100%;
        margin-top:20px;
    }
    .heroSection{
        padding: 50px 0;
        
    }
   .services .borderd-bottom ,.borderLeft{
        border:0;
    }
    .services .col-lg-6{
        border-bottom: 1px solid rgba(42, 45, 51, .2);
    }

.work{
    padding:50px 0;
}
}

@media(min-width:768px) and (max-width:1023px){
    body{
        font-size:14px
    }

.services{
    padding:50px 0
}
footer{
    padding:20px 0;
}
.sectionTitle{
    margin-bottom:50px;
}
.navbar-brand.logo{
    width:50px;
    margin-left:20px;
}
header .subscribeBox{
    width:300px;
}
.reqBtn.btn{
    display: block;
    width:100%;
}
    .hero{
        padding:20px 0;
    }
  
    .socialIcons{
        text-align: center;
    }
    .socialIcons li{
        float: none;
    }
  .marginBox{
      margin-top:0;
  }
    .heroText{
        margin-top: 20px;
    }


    .navbar-expand-lg .navbar-collapse{
        display: flex;
        flex-basis: auto;
         }
        .navbar-toggler{
        
            display: none;
         } 
    .navbar{
        width:100%;
        margin-top:20px;
    }
    .heroSection{
        padding-top: 50px;;
    }

    .contactForm{
        padding:10px;
    }
         .navbar-nav {
            display: -ms-flexbox;
            display: flex;}
            .navbar-expand-lg .navbar-nav {
                -ms-flex-direction: row;
                flex-direction: row;
            }
.footer{
    padding-top:50px;
}
.work{
    padding:50px 0;
}
}